*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: naslov;
  src: url(../fonts/Black.ttf);
}
@font-face {
  font-family: podnaslov;
  src: url(../fonts/Tangerine_Bold.ttf);
}
body{
	padding: 0;
  margin: 0;
  background-color: #FFEFD5;
}
h4{
	font-family: naslov;
}
header{
  margin: 0;
  text-align: left;
  background-color:#FFF8AA;
  border-top: 1px solid #228B22;
  
}
#naslov a{
	text-decoration:none;
}
header h1{
  font-family:naslov;
  color:#228B22;
  text-align: center;
}
header h2{
	font-family: podnaslov;
	color: #228B22;
	text-align: center;
}
.navbar{
	margin:0;
	border-radius: 0;
	border: none;
	background-color:snow;
	font-weight:bold;
}
.navbar-brand{
	font-family: naslov;
}
#aktuelno{
	padding-right:15px;
	text-align:center;
	color: #228B22;
	background-color:#FFF8AA;
}
#aktuelno h2{
	font-family: podnaslov;
}
.box{
	padding-right:0;
	border-bottom: 1px solid #228B22;
}
#cart{
	width:auto;
	height:auto;
	position:absolute;
	background-color: #228B22;
	color:snow;
	text-align: center;
	right:0;
	display:none;
	z-index:1;
}
#cart h3{
	font-family:podnaslov;
	color:snow;
	text-shadow: 5px 5px #374e18;
}
.plus,.minus,.delete{
	cursor: pointer;
}
#about{
	padding-left:5px;
	width:50vw;
	height:50%;
	background-color:snow;
	position:absolute;
	border-right:2px solid #228B22;
	border-bottom:2px solid #228B22;
	z-index:1;
	display:none;
}
.pad{
	padding:10px 50px;
	background-color:snow;
	color:#228B22;
	position:absolute;
	border-right:2px solid #228B22;
	border-bottom:2px solid #228B22;
	z-index:1;
	display:none;
}
.pad h2{
	font-family: podnaslov;
	text-align:center;
}
.pad ul li {
	font-family:naslov;
	list-style-type:none;
}
.pad a{
	text-decoration:none;
	color:#228B22;
	font-size:1.7rem;
	
}
.prva{
	padding: 0;
	margin: 0;
	width:100%;
	line-height:auto;
}
.prva ul li{
	display:inline;
	margin:auto 5px;
}
.prva a{
	text-decoration:none;
}
.naziv{
	margin:5px;
	font-family:naslov;
}
#t{
	text-align:left;
}
#akcija{
	display:block;
}
#woman, #man, #children{display:none;}
	display:none;
}
